body{
	background-color: papayawhip;
	border: solid black;
	border-style:revert-layer;
	border-width: 5px;
	max-width: 100%;
	margin: 0 auto;
	width: 80%;
}

img{
	float: right;
}

p{
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.gloria{
	width: 100%;
	overflow: hidden;
}
.table1{
	border-collapse:collapse;
	margin: 0 auto;
	padding: 50px;
	width: 100%;
}

table th,table td{
	border: solid black;
	padding: 8px;
	text-align: left;
}

fieldset{
	background-color: skyblue;
	height: 140px;
	margin-bottom: 0%;
	margin-top: 2%;
	padding: 10px;
}
.fieldset{
	height: 0%;
	margin-bottom: 0%;
	background-color:skyblue ;
	margin-top: 5%;
}
.table2{
	border-collapse:collapse;
	padding: 10px;
	width:100%;
}
