body{
	background-color: papayawhip;
	border: solid black;
	border-style: double;
	border-width: 5px;
	max-width: 80%;
}
.nest{
	display: inline-block;
	background-color: white;
	width: 100%;
	white-space: nowrap;
}
.ivy{
	display: inline-block;
	background-color: white;
	width: 100%;
	white-space: nowrap;
	text-align: left;
	background-color: black;
	color: white;

}
img{
	float: right;
	margin-bottom: 900px;
}
p{
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.gloria{
	width: 100%;
	overflow: hidden;
}
table{
	border-collapse:collapse;
	width: 85%;
	padding: 50px;
}

table th,table td{
	border: solid black;
	padding: 8px;
	text-align: left;
}
