.nest{
	display: inline-block;
	background-color: white;
	width: 100%;
	white-space: nowrap;
}
.ivy{
	display: inline-block;
	background-color: white;
	width: 100%;
	white-space: nowrap;
	text-align: left;
	background-color: black;
	color: white;

}
img{
	float: right;
	margin-bottom: 900px;
}
.gloria{
	display: inline-block;
	width: 100;
}